*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}


.container{
    display: flex;
    border: 0;
}

.left-side{
    flex:1;
}

.right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
 

}

.montain {
width: 600px;
height: 100vh;
}

.middle{
    display: flex;
    flex-direction: column;
    
}

.form{
    display: flex;

}

.form-field{
    display: flex;
    flex-direction: column;
}
